<h1><%=h @snippet.name %></h1>
<p class="under-heading">by <%= link_to @snippet.owner_url, snippets_by_owner_path(@snippet.owner_url) %></p>

<%= textilize @snippet.description %>

<%= format_code @snippet.code %>

<p>Tags: <%= link_tags @snippet.tag_list %></p>

<% if can_edit? @snippet %>
  <p>
    <%= link_to 'Edit Snippet', edit_snippet_path(@snippet) %> |
    <%= link_to 'Delete Snippet', snippet_path(@snippet), :method => :delete, :confirm => 'Are you sure? THERE IS NO GOING BACK!' %>
  </p>
<% end %>

<%= render :partial => 'comments/comment', :collection => @comments %>

<% if signed_in? %>
  <p><%= link_to_remote 'Add Comment &raquo;', :update => 'new_comment', :url => new_snippet_comment_path(@snippet), :method => :get %></p>
  <div id="new_comment"></div>
<% end %>