<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
      
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>My Snippets</title>
  <style type="text/css">
    body {
      font-family: Helvetica, Arial, sans-serif;
      padding: 0;
      margin: 0;
    }
    th { text-align: left }
    div#main-heading {
      background-color: #eee;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      margin-top: 0;
      text-align: right;
      height: 40px;
    }
    div#main-heading h1 {
      float: right;
      margin: 0 0 0 20px;
    }
    div#main {
      margin: 20px;
    }
    span.tag-list { color: #666; font-size: smaller; }
    span.tag-list a { color: #666 }
    div.fieldWithErrors label {
      color: #f00;
      font-weight: bold;
    }
    div.fieldWithErrors textarea,
    div.fieldWithErrors input {
      background-color: #fcc;
    }
    .under-heading {
      margin-top: -20px;
    }
    pre {
      border: 1px solid #ccc;
      background-color: #eee;
      padding: 10px;
    }
    .footer {
      border-top: 1px dotted #999;
      padding-top: 10px;
    }
    .flash {
      font-weight: bold;
      color: #f00;
    }
  </style>
  <%= javascript_include_tag :defaults %>
</head>

<body>
  <div id="main-heading">
    <div style="float:left">
      <% if session[:url] %>
        <%= link_to h(session[:url]), snippets_by_owner_path(session[:url]) %>
        (<%= link_to 'sign out', session_path, :method => :delete %>)
      <% else %>
        <%= link_to 'sign in', new_session_path %>
      <% end %>
    </div>
    <h1>My Snippets</h1>
    <%= link_to 'All Snippets', snippets_path %> |
    <%= link_to 'All Tags', tags_path %>
  </div>
  <div id="main">
    <% flash.each do |key, value| %>
      <p class="flash"><%= value %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>